body{
    background-image: url(images/markus-spiske-iar-afB0QQw-unsplash\ \(1\).jpg);
    background-size: contain;
    opacity: 0.9;
    font-family:'Bebas Neue', cursive;
    font-size: 30px;
    margin:0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: lightblue; */
}
.nav{
    display:flex;
    justify-content: space-between;
    padding: 38px;
}
.left{
    display: flex;

}
.nav>.left>div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    
}
.navlink{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.navlink a{
    color:#8a8a8a;
    text-decoration: none;
    transition: color 0.9s;
}
.navlink:hover{
    border-bottom:1px solid rgb(22, 204, 83), 0, 0;
}
.navlink a:hover{
    color:rgb(14, 151, 94)
}
/* .active-navlink{
    border-bottom: 1px solid black;
}
.active-navlink a{
    border-bottom: black !important;
} */
.name {
    color:  #06af5a;
    text-decoration: none;
    transition: color 0.9s;
    height: 22px;
}
/* .name:hover{
    border-bottom:2px solid black ;
} */
/* .name a:hover{
    color:rgb(15, 201, 56) */
/* } */
.contact-logo{
    display: flex;
}
.contact-logo img{
    padding: 1px;
    width:40px;
    font-weight: 100;
}
/* about page */
.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}
.profile-image-wrapper img{
   
    width: 100%;
    image-resolution: 1080px;
    /* border-style: groove; */

}
.profile-content-wrapper{
    padding: 30px;
    background-color: lightskyblue;
    /* border-style: groove;*/
} 
.profile-content-wrapper h1{
    color: lightseagreen;
    border-bottom: 1px solid black;
}
p{
    color: black;
    font-size: 18px;
    font-family: monospace;
}